body {
    padding: 0;
    text-align: center;
}
.button-container {
    position: relative;
    width: 40%;
}
.alien-img {
    width: 1350px;
}
.end-img {
    height: 750px;
    width: 1350px;
}
#scoreboard {
    display: block;
    padding: 0px 0px;
    justify-content: center;
  }
.beign-game {
    font-size: xx-large;
    position: absolute;
    padding: 35px;
    background-color: rgb(62, 75, 66);
    border-radius: 16px;
    bottom: 50px;
    left: 1100px;
    width: 150px;
}

#gaming-screen {
    display: none;
    width: 1350px;
    height: 500px;
    align-content: center;
    padding: 20px 0px;
    overflow: hidden;
    position: relative;
    background-image: url(bg.webp);
    background-position: 0 0;
    background-size: auto 100%;
    background-repeat: repeat;
    animation: gaming-screen 50s linear infinite;
}
@keyframes gaming-screen {
    from {
      background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
  }
  .rery-button {
    font-size: xx-large;
    position: absolute;
    padding: 35px;
    background-color: rgb(62, 75, 66);
    border-radius: 16px;
    bottom: 50px;
    left: 1100px;
    width: 150px;
}
#the-end {
    display: none;
}